*{
  margin:0;
  padding: 0;
}
.App{
  border: 1px solid black;
  width:80%;
  height:100%;
  margin-left:120px;
  
}
#list{
   background-color: black;
   
   color:white;
   width:98.7%;
   height:20%;
   margin-left: 8px;
   margin-bottom: 0;
   
}
#img1{
    width:100%;
       
}
#img2{
  width:100%;
}
#img3{
  width:100%;
}
#img4{
  width:100%;
  
}
#img5{
  width:100%;
  
}
#movie1{
   border:1px solid gray;
   width:18.7%;
  
  
}
#movie2{
  border:1px solid gray;
  width:18.7%;
}
#movie3{
  border:1px solid gray;
  width:18.7%;
}
#movie4{
  border:1px solid gray;
  width:18.7%;
}
#movie5{
  border:1px solid gray;
  width:18.7%;
}
.movie{
    display:inline-block;
    margin: 6px;
}
li{
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
h1{
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 10px;
  font-size:25px;
  font-weight: 600;
  font-family:Arial, Helvetica, sans-serif;
}